* {
    color: rgba(255, 255, 255, 0.63);
    font-family: Helvetica, Tahoma, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/* HEADERS, PARAGRAPHS, LINKS */
h1 {
    display: grid;
    font-size: 38px;
    line-height: 34px;
    height: 40px;
    padding: 24px 0 8px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    color: rgba(252, 252, 252, 0.836);
}
h2 {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 0 12px 0;
  color: rgba(255, 255, 255);
}
h3 {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.856);
}
h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    color: rgba(255, 255, 205);
}
h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding-left: 6px;
    margin: 6px;
}
h6 {
    margin: 6px;
    font-size: 12px;
    text-transform: capitalize;
    color: rgb(255, 255, 205);
}

strong {
    color: rgba(255, 255, 205, 0.863);
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    color: rgba(255, 253, 244, 0.904);
}

.contact-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: grid;
    height: fit-content;
    width: fit-content;
    padding: 4px 6px;
    background: rgba(0, 0, 0, 0.438);
    place-content: center;
}

.contact-link:hover {
    background-color: rgb(255, 255, 205);
}

.contact-link:hover strong {
    color: rgba(0, 0, 0, 0.822);
    font-size: 14px;
    transition-duration: 0.5s;
}

/* CONTAINERS */
ul {
    list-style: none;
}
.dark-shadow-top {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    width: calc(100vw - 410px);
    height: 50px;
    box-shadow: inset 0 50px 20px -20px rgba(23, 9, 37, 0.897);
    z-index: 10;
}
.shadow-top {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    width: calc(100vw - 410px);
    height: 80px;
    box-shadow: inset 0 80px 24px -24px rgba(31, 15, 53, 0.877);
    z-index: 10;
}
.shadow-bottom {
    position: fixed;
    bottom: 10vh;
    right: 0;
    left: 0;
    width: calc(100vw - 410px);
    height: 40px;
    box-shadow: inset 0 -40px 20px -20px rgba(20, 9, 34, 0.808);
    z-index: 10;
}
.dark-shadow-bottom {
    position: fixed;
    bottom: 10vh;
    right: 0;
    left: 0;
    width: calc(100vw - 410px);
    height: 20px;
    box-shadow: inset 0 -20px 20px -20px rgba(16, 8, 27, 0.952);
    z-index: 10;
}

/* MOUSE AND SCROLLING */
a, button {
    cursor: pointer;
}
.scrollable-wrapper {
    position: fixed;
    top: 62px;
    left: 40px;
    display: grid;
    grid-template-rows: repeat(auto, fit-content);
    height: 80vh;
    width: calc(100vw - 460px);
    padding: 0;
    z-index: 1;
}
.scrollable {
    padding-top: 50px;
    overflow-y: scroll;
    z-index: 0;
}
::-webkit-scrollbar {
    width: 10px;
    margin: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(0.75turn, rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.452));
}